{% extends 'base.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="main">

        <h1>Mini Framework <p class="php">Php</p></h1>
        <p>Créer par {{auteurs}}</p>
        <div class="form">
            <a href="" class="ButtonRed">Installation</a>
            <a href="/UEL312P1/info" class="buttonBlack">En savoir plus</a>
        </div>
    </div>

{% endblock %}
