{% extends 'base.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="main">

        <h1>Mini Framework <p class="php">Php</p></h1>
        <p>Créer par {{auteurs}}</p>
        <div class="form">
            <button name="info" class="ButtonRed">Installation</button>
            <button name="info" class="buttonBlack">En savoir plus</button>
        </div>


    </div>

{% endblock %}
