{% extends 'base.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="main">
        <h1>Informations</h1>
        <p>Vous êtes sur la page d'informations</p>
        
    </div>

{% endblock %}
